// .styling structure {
//   --  box styling
//   --  display types
//   --  backgrounds/borders
//   --  fonts
// }

$primary-font:    'classic-comic', serif;


// Colours
$primaryColor: rgba(224,0,0,1); // Red (header)
$secondaryColor: rgba(13,12,71,1); // Dark blue
$tertiaryColor: rgba(255,255,255,1); // White
$primaryLinkColor: rgba(255,255,50,1); // Yellow

$darkRed: rgba(180,30,30,1);
$grey: rgba(50,50,50,1);
