// .styling structure {
//   --  box styling
//   --  display types
//   --  backgrounds/borders
//   --  fonts
// }

$primary-font:    'classic-comic', serif;


// Colours
$primaryColor: rgba(224,0,0,1);
$secondaryColor: rgba(13,12,71,1);
$tertiaryColor: rgba(255,255,255,1); // White
$primaryLinkColor: rgba(255,255,0,1); // Yellow
